{{ define "main" -}}
{{ if .Site.Params.light_dark }}
    {{ partial "light_dark.html" . }}
{{ end }}
<h1 class="title">{{ .Title }}</h1>
<div class="posts">
    {{ range .Paginator.Pages }}
        <div class="project">
            <a href="{{ .RelPermalink }}"><h1>{{ .Title }}</h1></a>
            <p>
                {{ if .Params.featuredImage }}
                    <img src="{{ .Params.featuredImage }}"><br>
                {{ end }}
                {{ .RawContent | truncate 500 | markdownify }}
            </p>
        </div>
        <hr>
    {{ end }}
</div>
{{ end }}
